<div id="edit_profile">
  <center><p id="player_profile_name" style="font-size: 75px;">Edit Forgot10_Prodigy's Profile</h1></center>
  <div id="profile_pic">
    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP9000-BCUS98232_00-UAGOWAKRATOSMAN0/1446239957000/image?_version=00_09_000&platform=chihiro&w=225&h=225&bg_color=000000&opacity=100" />
  </div>
  <form class="form-horizontal">
    <h2>Platforms Play On:</h2>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        PS4
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        XBOX 1
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        PC
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Wii U
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Mobile
      </label>
    </div><br />
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">Favorite Games</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Favorite Games">
      </div>
    </div><br />
    <h2>Type of Gamer:</h2>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Hardcore - Love to play competitively
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Average - Like the occasional battle
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Subtle - Low key, never talks on the mic
      </label>
    </div><br />
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 control-label">Twitch ID</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Twitch ID">
      </div>
    </div><br />
    <h2>Genre of Games:</h2>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        First-Person Shooter
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Action/Adventure
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Sports
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        RPG
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="">
        Family
      </label>
    </div>
    <br />
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default"><a href="#/profile">Save Info</a></button>
      </div>
    </div>
  </form>
</div>
