<div id="loginController">

<video poster="" width="100%" autoplay="true" id="video" loop>
  <source src="/static/videos_pics/GAMEON.mp4" type="video/mp4"/>
</video>
<center><h1 id="most_wanted">Most Wanted</h1></center>
<div class="container-fluid" id="hitmen">
<div class="col-sm-3 col-md-3" id="hitman1">
  <div class="thumbnail" style="background-color:black;">
    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP9000-BCUS98232_00-UAGOWAKRATOSMAN0/1446239957000/image?_version=00_09_000&platform=chihiro&w=225&h=225&bg_color=000000&opacity=100" alt="...">
    <div class="caption">
      <center><h3 style="color:orange;">Forgot10_Prodigy</h3></center>
      <p style="color:white;">
         Best Game: Rainbow 6 Siege<br />
         Win Streak: 7 games<br />
         Type of Gamer: Big time s%$t talker! Bring your "A" game<br />
         Motto: "Don't talk about it, be about it!"</p>
      <p><center><a href="#" class="btn btn-primary" role="button">Challenge</a> <a href="#/profile" class="btn btn-default" role="button">Message</a></center></p>
    </div>
  </div>
</div>
<div class="col-sm-3 col-md-3" id="hitman2">
  <div class="thumbnail" style="background-color:black;">
    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP0177-NPUB30829_00-AVAJSRPOTS000000/1454437694000/image?_version=00_09_000&platform=chihiro&w=225&h=225&bg_color=000000&opacity=100" alt="...">
    <div class="caption" >
      <center><h3 style="color:orange;">ThePerxican</h3></center>
      <p style="color:white;">
         Best Game: Fifa 16<br />
         Win Streak: 15 games<br />
         Type of Gamer: Big time s%$t talker! Bring your "A" game<br />
         Motto: "I'm too drunk to taste this chicken!"</p>
      <p><center><a href="#" class="btn btn-primary" role="button">Challenge</a> <a href="#/profile" class="btn btn-default" role="button">Message</a></center></p>
    </div>
  </div>
</div>
<div class="col-sm-3 col-md-3" id="hitman3">
  <div class="thumbnail" style="background-color:black;">
    <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP1018-CUSA00133_00-AV00000000000005/1453857764000/image?_version=00_09_000&platform=chihiro&w=225&h=225&bg_color=000000&opacity=100" alt="...">
    <div class="caption">
      <center><h3 style="color:orange;">Dumbox83</h3></center>
      <p style="color:white;">
         Best Game: Battlefield 4<br />
         Win Streak: 10 games<br />
         Type of Gamer: Laid back, enjoys a good contest!<br />
         Motto: "Study high, takes the test high, get high scores!"</p>
      <p><center><a href="#" class="btn btn-primary" role="button">Challenge</a> <a href="#/profile" class="btn btn-default" role="button">Message</a></center></p>
    </div>
  </div>
</div>
</div>
<div class="jumbotron" id="jumbotron">
<center><p style="font-size: 50px;">What We're About!</p></center>
<p class="aboutPar">
  Have you ever wanted to prove your dominance in a video game amongst more than just your friends you can beat on everyday?! That's why we bring you GAME ON! Publically call out other players from across PSN and XBOX Live, and show how you measure up to other players from around the world! If you have a grudge with another player and you want to show the world you beating their a$$ across the screen, settle it right here, right now! With live chat rooms to meet other players or simply just talk s%#t, the action will never stop happening at GAME ON! So, you think you have what it takes the be one of the Most Wanted players in the world?! Prove it!
</p>
<div id="game_pic1" class="game_pics">
  <img src="/static/videos_pics/batmanjoker.jpg" />
</div>
<div id="game_pic2" class="game_pics">
  <img src="/static/videos_pics/dragonballz.jpg" />
</div>
<div id="game_pic3" class="game_pics">
  <img src="/static/videos_pics/messi.jpg" />
</div>
<div id="game_pic4" class="game_pics">
  <img src="/static/videos_pics/tank.jpg" />
</div>
