<div>
<center><p id="player_profile_name" style="font-size: 75px;">Forgot10_Prodigy's Profile</p><button><a href="#/edit_profile">Edit Profile</a></button></center>
<div id="profile_pic">
  <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP9000-BCUS98232_00-UAGOWAKRATOSMAN0/1446239957000/image?_version=00_09_000&platform=chihiro&w=225&h=225&bg_color=000000&opacity=100" />
</div>
<div id="player_info">
  <h3>Gamertag:</h3><p>Forgot10_Prodigy</p>
  <h3>Platforms:</h3><p>PS4, XBOX</p>
  <h3>Favorite Games:</h3>
  <ul>
    <li>Grand Theft Auto 5</li>
    <li>Rainbow Six Seige</li>
    <li>Modern Warfare 2</li>
    <li>Halo 5</li>
    <li>Star Wars Battlefront</li>
  </ul>
  <h3>Type of Gamer:</h3><p>Hardcore</p>
  <h3>Twitch ID:</h3><p>Forgot10_Prodigy</p>
  <h3>Favorite Genres:</h3>
  <ul>
    <li>First-Person Shooter</li>
    <li>RPG</li>
    <li>Sports</li>
  </ul>
  <h3>Send Message:</h3><br />
  <textarea cols="75" rows="10"></textarea><br />
  <input type="submit" value="Send Message"/>
</div>
</div>
